html {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: unset;
  text-decoration: unset;
}

@font-face {
  font-family: 'Good Times';
  src: url('Fonts/good_times/good\ times\ rg.otf') format('opentype');
}

body {
  border-radius: 0px;
  margin: 0;
}

.Navbar {
  position: fixed;
  z-index: 100;
  width: 90%;
  height: 5%;
  font-family: 'Good Times';
  margin-left: 5%;
  margin-right: 5%;
}

.Navbar tr {
  font-size: 13px;
  font-weight: 40;
  background-color: #FFF;
  text-align: center;
  transform: skew(-20deg);
}

.Navbar td {
  transform: skew(20deg);
  width: 18%;
}

.Navbar td:hover {
  background-color: #000;
  transform: skew(0deg);
  color: #FFF;
}

.Navbar td a:hover {
  transform: skew(-0deg);
}

.banner {
  margin: 0px;
  background: url('Images/Concertmetallica.webp');
  background-size: full;
  background-position: left;
  background-attachment: fixed;
  height: 1040px;
  width: 100%;
}

#SFlogo {
  display: block;
  padding-top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.triangle-down-left {
  z-index: 0;
  width: 0;
  height: 0;
  border-top: 320px solid transparent;
  border-right: 1520px solid #FFF;
  margin-top: -320px;
}

.triangle-down-left h1 {
  z-index: 1;
  font-family: 'Good Times';
  font-size: 60px;
  position: absolute;
  width: 100%;
  text-align: right;
  right: 3%;
  top: 870px;
}

.scheduletable {
  width: 90%;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.scheduletable td {
  font-family: 'Good Times';
  color: #FFF;
  width: 28%;
  margin: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 10px;
  background-color: #000;
}

td.date {
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.triangle-down-left 
.footer {
  z-index: 0;
  width: 0;
  height: 0;
  border-top: 320px solid transparent;
  border-right: 1520px solid #000;
  margin-bottom: -320px;
}

h4 {
  font-family: 'Helvetica';
  font-size: 12px;
  color: #000;
  position: absolute;
  text-align: center;
  width: 100%;
}

.socialmedia tr {
  position: absolute;
  width: 100%;
  align-self: center;
  font-family: 'Helvetica';
}

.schedbox {
  background-image: url('JeanBackground.jpg');
}
